<h1>Hey {{user.username}}</h1>
<p>This is your home page</p>

<div>
 

  {{#each categories}}
    <h1>{{restaurant.name}}</h1>
    <img src={{restaurant.featured_image}} style="width: 18rem;">
    <p>Rating</p>
    <p>{{restaurant.user_rating.aggregate_rating}}</p>
    <p>{{restaurant.location.city}}</p>
  {{/each}}
  <form action="/search" method="POST">
    <button type="submit">submit</button>
  </form>
</div>