<h1> details</h1>

<h5>{{name}}</h5>
<img src={{featured_image}} alt="" style="width: 20rem;">
<p> {{cuisines}}</p>
<p> {{phone_numbers}}</p>
<p> {{timings}}</p>
<p> <a href="{{menu_url}}"> Menu</a></p>
<p> {{location.locality_verbose}} </p>

<a href="/search"> Keep searching</a>