

<nav class="nav-det">
<ul>
    <li><a href="/home"> Home</a></li>
  
    <li> <a href="/matches"> Matches</a></li>
    <li> <a href="/logout"> Log Out</a></li>
</ul>

</nav>

<div id="loginpage">
<img src="/images/logo.png">


<h1>Welcome to your profile, {{user.username}} </h1>
<p>Username: {{user.username}}</p>
<p>Email: {{user.email}}</p>
<p>First Name: {{user.firstName}}</p>
<p>Last Name: {{user.lastName}}</p>

<form action="/connect" method="POST">
  <label for="connect-to-another-user">
    Connect to:
   {{#if secondUser}}
      <input type="text" name="username" id="username" placeholder="Enter username" value="{{secondUser.username}}" disabled>
      <button type="submit" disabled>Connect to a friend first</button>
    {{else}}
      {{#if message}}
      <h3>{{message}}</h3>
      <input type="text" name="username" id="username" placeholder="Enter username">
      <button type="submit">Connect</button>
      {{/if}}
   {{/if}} 
  </label>
</form>



<a class="links" href="/profile/edit">Edit</a>

</div>